// Sass variables
$dark-blue: #18204b;
$blue: #170ff0;
$white: #fff;
$red: #ff2a58;
$background-grey: #fcfcfc;
$light-grey: #ebebeb;
$dark-grey: #979797;
$medium-grey : #f7f7f7;

$text-color: #393c40;

$placeholder-color: #1b9389;
